.product-card {
    width: 100%;
    overflow: hidden;
    background: #eef2f2;
    /* border-radius: 0.5rem; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}